@import '~antd/es/style/themes/default.less';

.ant-table-tbody tr td{
    border-bottom:  1px dotted #c3c3c3;
}
.info-color {
    background-color:"#52c41a";
     height:"15px";
     width:"15px";
     border-radius:"10px";
    float:"left"
}